.NavBar {
    border: 1px solid #323232;
    color: #202020;
}

.NavLink {
    color: #202020;
    padding: 5px;
}

.Title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

.NavLink:hover {
    color: #2747AD;
}

.Active i {
    color: #4f4f4f;
}

.NavBarTitle {
    padding-left: 0;
}


  @media only screen and (max-width: 576px) {
    .NavBarTitle {
      font-size: 90%;
    }
    .Title {
        font-size: 1.2rem;
    }
  }